$breakpoint-xxs: max-width 380px; // not used by LDS
$breakpoint-xs:min-width 380px; // not used by LDS
$breakpoint-s: min-width 576px;
$breakpoint-m: min-width 768px;
$breakpoint-L: min-width 992px;
$breakpoint-xL: min-width 1200px;
$breakpoint-XXL: min-width 1441px; // not used by LDS
